*{
    padding: 0%;
    margin: 0%;
}


#divesquerda{
 width: 50% ;height: 90px;
 float: left;
 background-color: rgb(255, 255, 255);

}

#divdireita{
    width: 50% ; height: 90px;
    float: right;
    background-color: rgb(255, 255, 255);
    
    
}

#contato{
    padding-left: 257px;
}

#divtelefone{
    width: 100%; height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    margin: 0px 0px 0px 180px ;
}

#exposicao{
    width: 100%;height:695px ;
    background-color: rgba(0, 0, 0, 0.749)  ;
}

#divdomeio{
 width: 100%; height: 695px;
 background-color: rgba(60, 255, 0, 0.59);
 background-image: url(../img/pessoas-trabalhando-em-marketing-e-vendas-scaled-q1l0aomnbrac6kpn6684z7sru7tp7sg97wzrrw5mqo.jpeg);
 background-position: left;
 background-size: contain;
}

.letraprincipal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#dentro1{
width: 540px; height: 150px;
background-color: rgba(255, 0, 0, 0);
margin: 100px 0px 0px 150px ;
float: left;
}

#dentro2{
    width: 400px; height: 400px;
    background-color: rgb(187, 27, 27);
    margin: 100px 200px 0px 0px ;
    float: right;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

input{
    width: 300px; height: 45px;
    border-radius: 5px;
    border: none;
    margin: 5px 0px 5px 0px;
}

label{
    margin: 5px;
    color: white;
}

button{
    width: 150px; height: 40px;
    margin: 10px 0px 0px 78px ;
    border-radius: 5px;
    background-color:rgb(101, 26, 26) ;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    color: rgb(233, 11, 11);
    
}


.textrodape{
    padding-left:100px;
    padding-top: 10px;
    color: white;
    font-size: 16px;
}

#rodape{
width: 100%; height:70px;
background-color: rgb(187, 27, 27);
}

#registrar{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

