body{
    background-image: url(../img/fundo\ para\ site\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}


button{
    cursor: pointer;
}

input{
    background-color: rgba(240, 248, 255, 0);
    border:none;
    border-bottom:1px solid;
    
    
}

label{
    color: #004242;
    box-shadow: black;
}

#caixa{
  width: 70%;
  margin: 0 auto;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  
}